.root {
  min-height: 100vh;
  color: white;
  background-color: rgb(20, 20, 20);
  max-width: 100%;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;



}

.random {
  text-align: center;
}